In [1]:
import pandas as pd      
import numpy as np 
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings('ignore')

In [373]:
#pip list

In [1]:
pip install streamlit==1.10.0

Collecting streamlit==1.10.0
  Using cached streamlit-1.10.0-py2.py3-none-any.whl (9.1 MB)
Requirement already satisfied: click>=7.0 in c:\users\elitebook\anaconda3\lib\site-packages (from streamlit==1.10.0) (8.1.3)
Requirement already satisfied: python-dateutil in c:\users\elitebook\anaconda3\lib\site-packages (from streamlit==1.10.0) (2.8.2)
Collecting validators
  Using cached validators-0.20.0.tar.gz (30 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: pillow>=6.2.0 in c:\users\elitebook\anaconda3\lib\site-packages (from streamlit==1.10.0) (9.2.0)
Requirement already satisfied: toml in c:\users\elitebook\anaconda3\lib\site-packages (from streamlit==1.10.0) (0.10.2)
Requirement already satisfied: attrs in c:\users\elitebook\anaconda3\lib\site-packages (from streamlit==1.10.0) (21.4.0)
Requirement already satisfied: requests in c:\users\elitebook\anaconda3\lib\site-packages (from streamlit==1.10.0) (2.28.1)
Requirement already satisfied: typing-extensions in c:\users\elitebook\anaconda3\lib\site-packages (from streamlit==1.10.0) (4.3.0)
Collecting pympler>=0.9
  Using cached Pympler-1.0.1-py3-none-any.whl (164 kB)
Collecting blinker
  Using cached blinker-1.5-py2.py3-none-any.whl (12 kB)
Collecting pydeck>=0.1.dev5
  Downloading pydeck-0.8.0b3-py2.py3-none-any.whl (4.7 MB)
     ---------------------------------------- 4.7/4.7 MB 473.5 kB/s eta 0:00:00
Requirement already satisfied: importlib-metadata>=1.4 in c:\users\elitebook\anaconda3\lib\site-packages (from streamlit==1.10.0) (4.11.3)
Collecting semver
  Using cached semver-2.13.0-py2.py3-none-any.whl (12 kB)
Requirement already satisfied: protobuf<4,>=3.12 in c:\users\elitebook\anaconda3\lib\site-packages (from streamlit==1.10.0) (3.20.1)
Collecting gitpython!=3.1.19
  Downloading GitPython-3.1.27-py3-none-any.whl (181 kB)
     -------------------------------------- 181.2/181.2 kB 2.7 MB/s eta 0:00:00
Collecting pyarrow
  Downloading pyarrow-9.0.0-cp39-cp39-win_amd64.whl (19.6 MB)
     -------------------------------------- 19.6/19.6 MB 188.8 kB/s eta 0:00:00
Requirement already satisfied: numpy in c:\users\elitebook\anaconda3\lib\site-packages (from streamlit==1.10.0) (1.21.5)
Collecting tzlocal
  Using cached tzlocal-4.2-py3-none-any.whl (19 kB)
Requirement already satisfied: watchdog in c:\users\elitebook\anaconda3\lib\site-packages (from streamlit==1.10.0) (2.1.6)
Requirement already satisfied: rich in c:\users\elitebook\anaconda3\lib\site-packages (from streamlit==1.10.0) (12.5.1)
Requirement already satisfied: pandas>=0.21.0 in c:\users\elitebook\anaconda3\lib\site-packages (from streamlit==1.10.0) (1.4.3)
Requirement already satisfied: tornado>=5.0 in c:\users\elitebook\anaconda3\lib\site-packages (from streamlit==1.10.0) (6.1)
Collecting altair>=3.2.0
  Using cached altair-4.2.0-py3-none-any.whl (812 kB)
Requirement already satisfied: packaging in c:\users\elitebook\anaconda3\lib\site-packages (from streamlit==1.10.0) (21.3)
Requirement already satisfied: cachetools>=4.0 in c:\users\elitebook\anaconda3\lib\site-packages (from streamlit==1.10.0) (4.2.2)
Requirement already satisfied: jinja2 in c:\users\elitebook\anaconda3\lib\site-packages (from altair>=3.2.0->streamlit==1.10.0) (3.0.3)
Requirement already satisfied: entrypoints in c:\users\elitebook\anaconda3\lib\site-packages (from altair>=3.2.0->streamlit==1.10.0) (0.4)
Requirement already satisfied: jsonschema>=3.0 in c:\users\elitebook\anaconda3\lib\site-packages (from altair>=3.2.0->streamlit==1.10.0) (4.4.0)
Requirement already satisfied: toolz in c:\users\elitebook\anaconda3\lib\site-packages (from altair>=3.2.0->streamlit==1.10.0) (0.11.2)
Requirement already satisfied: colorama in c:\users\elitebook\anaconda3\lib\site-packages (from click>=7.0->streamlit==1.10.0) (0.4.5)
Collecting gitdb<5,>=4.0.1
  Using cached gitdb-4.0.9-py3-none-any.whl (63 kB)
Requirement already satisfied: zipp>=0.5 in c:\users\elitebook\anaconda3\lib\site-packages (from importlib-metadata>=1.4->streamlit==1.10.0) (3.8.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\elitebook\anaconda3\lib\site-packages (from pandas>=0.21.0->streamlit==1.10.0) (2022.1)
Requirement already satisfied: six>=1.5 in c:\users\elitebook\anaconda3\lib\site-packages (from python-dateutil->streamlit==1.10.0) (1.16.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\elitebook\anaconda3\lib\site-packages (from packaging->streamlit==1.10.0) (3.0.9)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\elitebook\anaconda3\lib\site-packages (from requests->streamlit==1.10.0) (1.26.11)
Requirement already satisfied: idna<4,>=2.5 in c:\users\elitebook\anaconda3\lib\site-packages (from requests->streamlit==1.10.0) (3.3)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\elitebook\anaconda3\lib\site-packages (from requests->streamlit==1.10.0) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\elitebook\anaconda3\lib\site-packages (from requests->streamlit==1.10.0) (2022.6.15.1)
Requirement already satisfied: commonmark<0.10.0,>=0.9.0 in c:\users\elitebook\anaconda3\lib\site-packages (from rich->streamlit==1.10.0) (0.9.1)
Requirement already satisfied: pygments<3.0.0,>=2.6.0 in c:\users\elitebook\anaconda3\lib\site-packages (from rich->streamlit==1.10.0) (2.11.2)
Collecting pytz-deprecation-shim
  Using cached pytz_deprecation_shim-0.1.0.post0-py2.py3-none-any.whl (15 kB)
Collecting tzdata
  Using cached tzdata-2022.2-py2.py3-none-any.whl (336 kB)
Requirement already satisfied: decorator>=3.4.0 in c:\users\elitebook\anaconda3\lib\site-packages (from validators->streamlit==1.10.0) (5.1.1)
Collecting smmap<6,>=3.0.1
  Using cached smmap-5.0.0-py3-none-any.whl (24 kB)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\elitebook\anaconda3\lib\site-packages (from jinja2->altair>=3.2.0->streamlit==1.10.0) (2.0.1)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in c:\users\elitebook\anaconda3\lib\site-packages (from jsonschema>=3.0->altair>=3.2.0->streamlit==1.10.0) (0.18.0)
Building wheels for collected packages: validators
  Building wheel for validators (setup.py): started
  Building wheel for validators (setup.py): finished with status 'done'
  Created wheel for validators: filename=validators-0.20.0-py3-none-any.whl size=19579 sha256=dab2586e092d81740ccce6fd478de94e8cb7424f422617af41a4176f3bfc373f
  Stored in directory: c:\users\elitebook\appdata\local\pip\cache\wheels\2d\f0\a8\1094fca7a7e5d0d12ff56e0c64675d72aa5cc81a5fc200e849
Successfully built validators
Installing collected packages: validators, tzdata, smmap, semver, pympler, pyarrow, blinker, pytz-deprecation-shim, pydeck, gitdb, tzlocal, gitpython, altair, streamlit
Successfully installed altair-4.2.0 blinker-1.5 gitdb-4.0.9 gitpython-3.1.27 pyarrow-9.0.0 pydeck-0.8.0b3 pympler-1.0.1 pytz-deprecation-shim-0.1.0.post0 semver-2.13.0 smmap-5.0.0 streamlit-1.10.0 tzdata-2022.2 tzlocal-4.2 validators-0.20.0
Note: you may need to restart the kernel to use updated packages.

In [375]:
#pip install scikit-learn==1.0.2

In [2]:
def eval_metrics(actual, pred):
    rmse = np.sqrt(mean_squared_error(actual, pred))
    mae = mean_absolute_error(actual, pred)
    mse = mean_squared_error(actual, pred)
    score = r2_score(actual, pred)
    return print(" r2_score:", score, "\n","mae:", mae, "\n","mse:",mse, "\n","rmse:",rmse)

In [3]:
df=pd.read_csv("final_scout_not_dummy.csv")
pd.set_option('display.max_columns',  None)
pd.options.display.float_format = '{:,.1f}'.format

In [4]:
df.head(1)

,make_model,body_type,price,vat,km,Type,Fuel,Gears,Comfort_Convenience,Entertainment_Media,Extras,Safety_Security,age,Previous_Owners,hp_kW,Inspection_new,Paint_Type,Upholstery_type,Gearing_Type,Displacement_cc,Weight_kg,Drive_chain,cons_comb
0,Audi A1,Sedans,15770,VAT deductible,"56,013.0",Used,Diesel,7.0,"Air conditioning,Armrest,Automatic climate con...","Bluetooth,Hands-free equipment,On-board comput...","Alloy wheels,Catalytic Converter,Voice Control","ABS,Central door lock,Daytime running lights,D...",3.0,2.0,66.0,1,Metallic,Cloth,Automatic,"1,422.0","1,220.0",front,3.8

In [5]:
df.shape

(15915, 23)

In [6]:
df.isnull().sum().any()

False

In [7]:
df.columns

Index(['make_model', 'body_type', 'price', 'vat', 'km', 'Type', 'Fuel',
       'Gears', 'Comfort_Convenience', 'Entertainment_Media', 'Extras',
       'Safety_Security', 'age', 'Previous_Owners', 'hp_kW', 'Inspection_new',
       'Paint_Type', 'Upholstery_type', 'Gearing_Type', 'Displacement_cc',
       'Weight_kg', 'Drive_chain', 'cons_comb'],
      dtype='object')

In [8]:
df.age.unique()

array([3., 2., 1., 0.])

In [9]:
df.hp_kW.min()

40.0

In [10]:
df.hp_kW.max()

294.0

In [11]:
df.km.nunique()

6691

In [12]:
df.km.max()

317000.0

In [13]:
df.km.min()

0.0

In [14]:
df.Gearing_Type.unique()

array(['Automatic', 'Manual', 'Semi-automatic'], dtype=object)

In [15]:
df.make_model.unique()

array(['Audi A1', 'Audi A2', 'Audi A3', 'Opel Astra', 'Opel Corsa',
       'Opel Insignia', 'Renault Clio', 'Renault Duster',
       'Renault Espace'], dtype=object)

In [16]:
df.make_model.value_counts()

Audi A3           3097
Audi A1           2614
Opel Insignia     2598
Opel Astra        2525
Opel Corsa        2216
Renault Clio      1839
Renault Espace     991
Renault Duster      34
Audi A2              1
Name: make_model, dtype: int64

In [17]:
df[df.make_model=="Audi A2"]

,make_model,body_type,price,vat,km,Type,Fuel,Gears,Comfort_Convenience,Entertainment_Media,Extras,Safety_Security,age,Previous_Owners,hp_kW,Inspection_new,Paint_Type,Upholstery_type,Gearing_Type,Displacement_cc,Weight_kg,Drive_chain,cons_comb
2614,Audi A2,Off-Road,28200,VAT deductible,"26,166.0",Employee's car,Diesel,6.0,"Air conditioning,Armrest,Automatic climate con...","Bluetooth,CD player,Hands-free equipment,MP3,O...",Alloy wheels,"ABS,Adaptive Cruise Control,Central door lock,...",1.0,1.0,85.0,0,Metallic,Cloth,Manual,"1,598.0","1,135.0",front,4.9

In [18]:
df.drop(index=[2614], inplace =True)

In [19]:
df.make_model.unique()

array(['Audi A1', 'Audi A3', 'Opel Astra', 'Opel Corsa', 'Opel Insignia',
       'Renault Clio', 'Renault Duster', 'Renault Espace'], dtype=object)

In [20]:
new_list=["age", "hp_kW", "km", "Gearing_Type", 'make_model']

In [21]:
X=df[new_list]
y=df['price']

In [22]:
X.sample(5)

       age  hp_kW        km Gearing_Type     make_model
10804  3.0  125.0 179,227.0    Automatic  Opel Insignia
13009  0.0  147.0      15.0    Automatic  Opel Insignia
1923   0.0   85.0       7.0    Automatic        Audi A1
8595   3.0   70.0 123,300.0       Manual     Opel Corsa
13358  2.0   66.0  32,713.0    Automatic   Renault Clio

In [23]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [24]:
from sklearn.compose import make_column_transformer

In [25]:
from sklearn.preprocessing import OrdinalEncoder

In [26]:
cat = X_train.select_dtypes("object").columns
cat

Index(['Gearing_Type', 'make_model'], dtype='object')

In [27]:
ord_enc = OrdinalEncoder()
column_trans = make_column_transformer((ord_enc, cat), remainder='passthrough') # remainder: # Keep other columns rather than cat in original form.
                                                                                # remainder: # if you want to scale rest of cat columns use "minmax" istead passthroug
    
    # Apply ord_enc to categoric variables and remain in original form rest of them.
    # ord_enc for DT based algorithms
    # For Linear reg, log reg vs. use one hot encoder

In [28]:
X_train=column_trans.fit_transform(X_train)

In [29]:
X_test=column_trans.transform(X_test)

In [30]:
X_train

array([[1.00e+00, 5.00e+00, 0.00e+00, 5.60e+01, 1.00e+01],
       [1.00e+00, 2.00e+00, 3.00e+00, 8.10e+01, 1.39e+05],
       [0.00e+00, 1.00e+00, 0.00e+00, 8.50e+01, 1.80e+04],
       ...,
       [0.00e+00, 3.00e+00, 0.00e+00, 6.60e+01, 3.55e+02],
       [0.00e+00, 4.00e+00, 3.00e+00, 1.25e+02, 2.32e+05],
       [0.00e+00, 1.00e+00, 3.00e+00, 8.10e+01, 9.70e+04]])

In [31]:
pd.Series(X_train[1])

0         1.0
1         2.0
2         3.0
3        81.0
4   139,000.0
dtype: float64

In [32]:
from sklearn.ensemble import RandomForestRegressor
rf_model=RandomForestRegressor()
rf_model.fit(X_train, y_train)

RandomForestRegressor()

In [34]:
y_pred = rf_model.predict(X_test)

In [35]:
eval_metrics(y_test,y_pred)

 r2_score: 0.9289750108351362
 mae: 1135.408757016863
 mse: 3556107.305313346
 rmse: 1885.7643822369077

In [36]:
import pickle
pickle.dump(rf_model, open('rf_model_new', 'wb'))

In [37]:
pickle.dump(column_trans, open('transformer', 'wb'))

**deployment**

In [38]:
richard_model = pickle.load(open('rf_model_new', 'rb'))

In [39]:
richard_transformer = pickle.load(open('transformer', 'rb'))

In [40]:
columns=list(X.columns)
columns

['age', 'hp_kW', 'km', 'Gearing_Type', 'make_model']

In [41]:
my_dict = {
    "age": 2,
    "hp_kW": 105,
    "km": 100000,
    "Gearing_Type":"Automatic",
    "make_model": 'Audi A3'
}

In [415]:
#df = pd.DataFrame([my_dict])
#df = pd.DataFrame(my_dict, index=["a"])

In [42]:
df = pd.DataFrame.from_dict([my_dict])

In [43]:
df.head()

   age  hp_kW      km Gearing_Type make_model
0    2    105  100000    Automatic    Audi A3

In [44]:
df2 = richard_transformer.transform(df)

In [45]:
pd.Series(df2[0])

0         0.0
1         1.0
2         2.0
3       105.0
4   100,000.0
dtype: float64

In [420]:
prediction = richard_model.predict(df2)
print(prediction)

[19434.15]

In [421]:
print("The estimated price of your car is €{}. ".format(int(prediction[0])))

The estimated price of your car is €19434.