In [1]:
import pandas as pd      
import numpy as np 
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings('ignore')

In [2]:
#pip list

In [3]:
#pip install streamlit==1.10.0

In [4]:
#pip install scikit-learn==1.0.2

In [5]:
def eval_metrics(actual, pred):
    rmse = np.sqrt(mean_squared_error(actual, pred))
    mae = mean_absolute_error(actual, pred)
    mse = mean_squared_error(actual, pred)
    score = r2_score(actual, pred)
    return print(" r2_score:", score, "\n","mae:", mae, "\n","mse:",mse, "\n","rmse:",rmse)

In [6]:
df=pd.read_csv("without_outliers_autoscout.csv")
pd.set_option('display.max_columns',  None)
pd.options.display.float_format = '{:,.1f}'.format

In [7]:
df.head(1)

,body_type,price_€,vat,km,hp_kW,type,previous_owners,warranty,make,model,body_color,paint_type,upholstery,nr_of_doors,nr_of_seats,gearing_type,engine_displacement_cc,cylinders,weight_kg,drive_chain,fuel,co2e_g,emission_class,comfort&convenience,entertainment&media,extras,safety&security,gears,country_version,consumption_comb,age
0,Sedans,"15,770.0",VAT deductible,"56,013.0",66.0,Used,2.0,0.0,Audi,A1,Black,Metallic,Cloth,5.0,5.0,Automatic,1.5,3.0,"1,220.0",front,Diesel,99.0,Euro 6,"Air conditioning,Armrest,Automatic climate con...","Bluetooth,Hands-free equipment,On-board comput...","Alloy wheels,Catalytic Converter,Voice Control","ABS,Central door lock,Daytime running lights,D...",7.0,Unknown,3.8,3.0

In [8]:
df.shape

(15919, 31)

In [9]:
df.isnull().sum().any()

False

In [10]:
df.columns

Index(['body_type', 'price_€', 'vat', 'km', 'hp_kW', 'type', 'previous_owners',
       'warranty', 'make', 'model', 'body_color', 'paint_type', 'upholstery',
       'nr_of_doors', 'nr_of_seats', 'gearing_type', 'engine_displacement_cc',
       'cylinders', 'weight_kg', 'drive_chain', 'fuel', 'co2e_g',
       'emission_class', 'comfort&convenience', 'entertainment&media',
       'extras', 'safety&security', 'gears', 'country_version',
       'consumption_comb', 'age'],
      dtype='object')

In [11]:
df.age.unique()

array([3., 2., 1., 0.])

In [12]:
df.hp_kW.min()

40.0

In [13]:
df.hp_kW.max()

294.0

In [14]:
df.km.nunique()

6699

In [15]:
df.km.max()

317000.0

In [16]:
df.km.min()

0.0

In [17]:
df.gearing_type.unique()

array(['Automatic', 'Manual', 'Semi-automatic'], dtype=object)

In [18]:
df.make.unique()

array(['Audi', 'Opel', 'Renault'], dtype=object)

In [19]:
df.model.unique()

array(['A1', 'A2', 'A3', 'Astra', 'Corsa', 'Insignia', 'Clio', 'Duster',
       'Espace'], dtype=object)

In [20]:
df.make.value_counts()

Opel       7343
Audi       5712
Renault    2864
Name: make, dtype: int64

In [21]:
df.model.value_counts()

A3          3097
A1          2614
Insignia    2598
Astra       2526
Corsa       2219
Clio        1839
Espace       991
Duster        34
A2             1
Name: model, dtype: int64

In [22]:
df[df.model=="A2"]

,body_type,price_€,vat,km,hp_kW,type,previous_owners,warranty,make,model,body_color,paint_type,upholstery,nr_of_doors,nr_of_seats,gearing_type,engine_displacement_cc,cylinders,weight_kg,drive_chain,fuel,co2e_g,emission_class,comfort&convenience,entertainment&media,extras,safety&security,gears,country_version,consumption_comb,age
2614,Off-Road,"28,200.0",VAT deductible,"26,166.0",85.0,Employee's car,1.0,0.0,Audi,A2,Grey,Metallic,Cloth,5.0,5.0,Manual,1.6,4.0,"1,288.0",front,Diesel,116.0,Euro 6,"Air conditioning,Armrest,Automatic climate con...","Bluetooth,CD player,Hands-free equipment,MP3,O...",Alloy wheels,"ABS,Adaptive Cruise Control,Central door lock,...",7.0,Germany,4.9,1.0

In [23]:
df.drop(index=[2614], inplace =True)

In [24]:
df.model.unique()

array(['A1', 'A3', 'Astra', 'Corsa', 'Insignia', 'Clio', 'Duster',
       'Espace'], dtype=object)

In [25]:
new_list=["age", "hp_kW", "km", "gearing_type", 'make', 'model']

In [26]:
X=df[new_list]
y=df['price_€']

In [27]:
X.sample(5)

       age  hp_kW       km gearing_type     make     model
15700  1.0  118.0      1.0    Automatic  Renault    Espace
13491  3.0   55.0 76,019.0       Manual  Renault      Clio
15745  1.0  165.0  7,800.0    Automatic  Renault    Espace
12177  1.0  121.0 24,753.0       Manual     Opel  Insignia
5367   0.0   85.0     10.0       Manual     Audi        A3

In [28]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [29]:
from sklearn.compose import make_column_transformer

In [30]:
from sklearn.preprocessing import OrdinalEncoder

In [31]:
cat = X_train.select_dtypes("object").columns
cat

Index(['gearing_type', 'make', 'model'], dtype='object')

In [37]:
ord_enc = OrdinalEncoder()
column_trans = make_column_transformer((ord_enc, cat), remainder='passthrough') # remainder: # Keep other columns rather than cat in original form.
                                                                                # remainder: # if you want to scale rest of cat columns use "minmax" istead passthroug
    
    # Apply ord_enc to categoric variables and remain in original form rest of them.
    # ord_enc for DT based algorithms
    # For Linear reg, log reg vs. use one hot encoder

In [38]:
X_train=column_trans.fit_transform(X_train)

In [39]:
X_test=column_trans.transform(X_test)

In [40]:
X_train

array([[0.0000e+00, 0.0000e+00, 0.0000e+00, 2.0000e+00, 7.0000e+01,
        1.9800e+04],
       [0.0000e+00, 2.0000e+00, 6.0000e+00, 2.0000e+00, 1.4700e+02,
        4.9606e+04],
       [1.0000e+00, 2.0000e+00, 3.0000e+00, 0.0000e+00, 5.6000e+01,
        1.0000e+01],
       ...,
       [0.0000e+00, 1.0000e+00, 4.0000e+00, 0.0000e+00, 6.6000e+01,
        7.5000e+03],
       [0.0000e+00, 1.0000e+00, 7.0000e+00, 3.0000e+00, 1.0000e+02,
        1.7980e+05],
       [0.0000e+00, 0.0000e+00, 1.0000e+00, 3.0000e+00, 8.1000e+01,
        9.7000e+04]])

In [41]:
pd.Series(X_train[1])

0        0.0
1        2.0
2        6.0
3        2.0
4      147.0
5   49,606.0
dtype: float64

In [42]:
from sklearn.ensemble import RandomForestRegressor
rf_model=RandomForestRegressor()
rf_model.fit(X_train, y_train)

RandomForestRegressor()

In [43]:
y_pred = rf_model.predict(X_test)

In [44]:
eval_metrics(y_test,y_pred)

 r2_score: 0.9316316777030744
 mae: 1142.7986210784595
 mse: 3544789.153191004
 rmse: 1882.7610451650532

In [45]:
import pickle
pickle.dump(rf_model, open('rf_model_new', 'wb'))

In [46]:
pickle.dump(column_trans, open('transformer', 'wb'))

**deployment**

In [47]:
richard_model = pickle.load(open('rf_model_new', 'rb'))

In [48]:
richard_transformer = pickle.load(open('transformer', 'rb'))

In [49]:
columns=list(X.columns)
columns

['age', 'hp_kW', 'km', 'gearing_type', 'make', 'model']

In [50]:
my_dict = {
    "age": 2,
    "hp_kW": 105,
    "km": 100000,
    "gearing_type":"Automatic",
    "make": 'Audi',
    "model": 'A3'
}

In [51]:
#df = pd.DataFrame([my_dict])
#df = pd.DataFrame(my_dict, index=["a"])

In [52]:
df = pd.DataFrame.from_dict([my_dict])

In [53]:
df.head()

   age  hp_kW      km gearing_type  make model
0    2    105  100000    Automatic  Audi    A3

In [54]:
df2 = richard_transformer.transform(df)

In [55]:
pd.Series(df2[0])

0         0.0
1         0.0
2         1.0
3         2.0
4       105.0
5   100,000.0
dtype: float64

In [56]:
prediction = richard_model.predict(df2)
print(prediction)

[19423.65]

In [57]:
print("The estimated price of your car is €{}. ".format(int(prediction[0])))

The estimated price of your car is €19423.